:host {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 4px;
}
  
.field__phone--default {
    grid-column: auto/span 8;
}
  
.field__country--default {
    grid-column: auto/span 4;
}
  
mat-form-field {
    width: 100%;
}
  