<div [class]="countryFieldClass()">
    <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select
        [formControl]="countryControl"
        [canSelectNullableOptions]="true"
        [panelWidth]="null"
        >
        <mat-option [value]="null">None</mat-option>
        @for (country of countries; track country.code) {
            <mat-option [value]="country.code"
            >{{ country.code }} (+{{ country.callingCode }})
            </mat-option>
        } @empty {
            <mat-option disabled>No countries available</mat-option>
        }
        </mat-select>
    </mat-form-field>
</div>
<div [class]="phoneFieldClass()">
    <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input
        matInput
        type="text"
        [formControl]="phoneControl"
        [placeholder]="phonePlaceholder()"
        [errorStateMatcher]="errorStateMatcher"
        (blur)="onTouched()"
        />
        @if (phoneControl.hasError('phoneNumberInvalid')) {
        <mat-error>Phone number is invalid</mat-error>
        }
        @if (phoneControl.hasError('parseError')) {
        <mat-error>
            {{ phoneControl.errors?.['parseError'] | removeUnderline | titlecase }}
        </mat-error>
        }
    </mat-form-field>
</div>
  